# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Dotenv file
.env

# Ignore .idea for fresh setup when importing the project
.idea

# Ignore .DS_Store
.DS_Store

KotlinClient-tcpbrokerhivemqcom1883
KotlinClient1-tcpbrokerhivemqcom1883
local.properties

